.App {
  text-align: center;
}

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;

}
.myDiv{
  display: flex;
  justify-content: space-around;
  margin: 10px 7%;
  box-shadow: 1px 1px 5px grey;
  padding: 10px;

}
.App .myDiv .text{
  width: 60%;
  
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.gallery .item{
  width:30%;
  margin: 5px;

}